:root {
  --siva: rgb(226, 226, 226);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  transition: all 0.5s ease;
}

/*width > 600*/
@media screen and (min-width: 601px) {
  div.naslov {
    font-size: 100px;
  }
}
/*width <= 600*/
@media screen and(max-width: 600px) {
  div.naslov {
    font-size: 40px;
  }
}

@media screen and(min-height: 1080px) {
  div.tekst {
    padding-top: 100px;
  }
}

@media screen and(max-height: 1079px) {
  div.tekst {
    padding-top: 50px;
  }
}
.navBarItem {
  height: 50px;
  width: 100%;
  background-color: var(--black);
}

.navBarItem li {
  display: inline-grid;
  height: 100%;
  float: left;
}
.navBarItem li button {
  padding: 5px;
  background-color: var(--siva);
  width: auto;
  height: 100%;
  border: none;
}

.navBarItem li button a {
  background-color: var(--black);
}

.navBarItem li button:hover {
  background-color: var(--white);
}
a {
  text-decoration: none;
}
a:visited {
  background-color: var(--black);
}

.navigationBar {
  padding: 0;
  width: 100%;
  display: grid;
}

.naslovSlika {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.naslovSlika img {
  width: 50vw;
  height: auto;
}

.RETARDTRISTO300 {
  margin: auto;
  width: 80vw;
  height: 2vh;
  background-color: var(--black);
}

.tekst {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

.tekst p {
  font-size: 18pt;
}

.tekst h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 28pt;
  padding-bottom: 20px;
}

.tekst ol {
  padding-left: 20px;
}

.tekst ol li {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18pt;
}

.tekstProjekat {
  display: none;
}

.slikaOsoba {
  max-width: 120px;
  min-height: 150px;
}

/*nas Tim grid*/
.gridDivZene {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
}

.osobaContainer h3 {
  font-size: 24pt;
}

#miona,
#jana,
#ana {
  grid-column: 1;
}
#jana {
  float: right;
}
